@page
@model WebApplication1.Pages.Assessments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.CourseName</h1>
<h4>Assessments</h4>

<p>
    <a asp-page="Create" asp-route-id="@Model.classID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].PointsPossible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assessment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsPossible)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AssessmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AssessmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AssessmentId">Delete</a> |
                <a asp-page="./RunAssessmentReport" asp-route-id="@item.AssessmentId">Report</a>
            </td>
        </tr>
}
    </tbody>
</table>
