@page
@model WebApplication1.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/customTable.css" />

<h1>Classes</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table id="class" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Term)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term.Description)
            </td>
            <td hidden>
                <a asp-page="./Details" asp-route-id="@item.ClassID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {

    $('tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});
</script>
