@page
@model WebApplication1.Pages.Students.ChangeScheduleModel

@{
    ViewData["Title"] = "ChangeSchedule";
}
<link rel="stylesheet" href="~/css/print.css" />

<h1>@Model.Student.FirstName @Model.Student.LastName</h1>

<div id="notPrinting">
    <h4>IT Level: @Model.Student.ITLevel</h4>
    <h4>English Level: @Model.Student.EnglishLevel</h4>
    <hr />

    <form method="post">
        <div class="form-group">
            <h4>Filter by term</h4>
            <select asp-for="Term.TermID" name="termid" class="form-control" asp-items="ViewBag.TermID"></select>
        </div>
        <input type="hidden" name="id" asp-for="Student.StudentID" />
        <input type="submit" value="Filter" class="btn btn-primary" asp-page-handler="Filter" />
    </form>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class[0].Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class[0].Course)
                </th>
                <th>
                    Days
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Class)
            {
                int itLevel = Model.Student.ITLevel;
                int engLevel = Model.Student.EnglishLevel;
                var count = 0;
                var enrolled = false;
                var timeCounter = 0;
                string courseName = item.Course.Name;
                int courseLevel = (int)Char.GetNumericValue(courseName[courseName.Length - 1]);
                bool display = false;

                @if (item.Course.Name[0] == 'E' && courseLevel == (engLevel + 1))
                {
                    display = true;
                }
                else if (item.Course.Name[0] == 'I' && courseLevel == (itLevel + 1))
                {
                    display = true;
                }

                @if (display)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        </td>
                        <td>
                            @foreach (var i in Model.ClassSchedule)
                            {

                                @if (i.ClassID == item.ClassID)
                                {
                                    @foreach (var schedule in Model.Schedule)
                                    {
                                        @if (schedule.ScheduleID == i.ScheduleID)
                                        {
                                            @switch (schedule.DayOfWeek)
                                            {
                                                case 1:
                                                    <text>M</text>
                                                    break;
                                                case 2:
                                                    <text>T</text>
                                                    break;
                                                case 3:
                                                    <text>W</text>
                                                    break;
                                                case 4:
                                                    <text>Th</text>
                                                    break;
                                                case 5:
                                                    <text>F</text>
                                                    break;
                                            }
                                        }
                                    }
                                }
                            }
                        </td>
                        @foreach (var i in Model.ClassSchedule)
                        {

                            @if (i.ClassID == item.ClassID)
                            {
                                @foreach (var schedule in Model.Schedule)
                                {
                                    @if (schedule.ScheduleID == i.ScheduleID && timeCounter == 0)
                                    {
                                        <td>@schedule.StartTime.ToString().Substring(10)</td>
                                        <td>@schedule.EndTime.ToString().Substring(10)</td>
                                        timeCounter++;
                                    }
                                }
                            }
                        }
                        @if (Model.StudentClass.Count > 0)
                        {
                            var classCount = Model.StudentClass.Count;
                            var loopTracker = 0;
                            @foreach (var sc in Model.StudentClass)
                            {
                                @if (count > 0)
                                {
                                    break;
                                }
                                @if (Model.Student.StudentID == sc.StudentID && item.ClassID == sc.ClassID)
                                {
                                    enrolled = true;
                                    count++;
                                }
                                /*
                                else if(loopTracker == (classCount-1))
                                {
                                    <td>No</td>
                                }*/
                                loopTracker++;
                            }
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>
                            <form method="post">
                                @if (!enrolled)
                                {
                                    <input type="hidden" name="id" asp-for="Student.StudentID" />
                                    <input type="hidden" name="classid" asp-for="@item.ClassID" />
                                    <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="Add" />
                                }
                                else
                                {
                                    <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="Add" disabled />
                                }
                            </form>
                        </td>
                        <td>

                            <form method="post">
                                @if (enrolled)
                                {
                                    <input type="hidden" name="id" asp-for="Student.StudentID" />
                                    <input type="hidden" name="classid" asp-for="@item.ClassID" />
                                    <input type="submit" value="Remove" class="btn btn-danger" asp-page-handler="Remove" />
                                }
                                else
                                {
                                    <input type="submit" value="Remove" class="btn btn-danger" asp-page-handler="Remove" disabled />
                                }
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        <a class="btn btn-info" asp-page="./Index">Back to Students</a> |
        <button class="btn btn-success" onclick="PrintSchedule()">Print Schedule</button>
    </div>
    <br />
</div>

<table class="table table-bordered" style="table-layout: fixed; width: 100%;">
    <thead>
        <tr>
            <th style="width:9%;" scope="col">Time</th>
            <th style="width:18%;" scope="col">Monday</th>
            <th style="width:18%;" scope="col">Tuesday</th>
            <th style="width:18%;" scope="col">Wednesday</th>
            <th style="width:18%;" scope="col">Thursday</th>
            <th style="width:18%;" scope="col">Friday</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 6; i < 18; i++)
            {
                <tr>
                    <th rowspan="2" scope="row">@i:00</th>
                    <td id="1_@i"></td>
                    <td id="2_@i"></td>
                    <td id="3_@i"></td>
                    <td id="4_@i"></td>
                    <td id="5_@i"></td>

                </tr>
                <tr>
                    <td id="1_2_@i"></td>
                    <td id="2_2_@i"></td>
                    <td id="3_2_@i"></td>
                    <td id="4_2_@i"></td>
                    <td id="5_2_@i"></td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function AddSchedule(schedule, className, tableColor) {
            var startTime = new Date(schedule.startTime);
            var endTime = new Date(schedule.endTime);
            var dayOfWeek = schedule.dayOfWeek;
            var rowspan = (endTime.getHours() - startTime.getHours()) * 2;

            if (endTime.getMinutes() > 0) {
                rowspan++;
            }

            var node = document.createElement("p");
            var className = document.createTextNode(className);

            node.appendChild(className);

            var element = $('#' + dayOfWeek + '_' + startTime.getHours());
            element.attr("rowspan", rowspan);
            element.addClass(tableColor);
            document.getElementById(dayOfWeek + '_' + startTime.getHours()).appendChild(node);

            var elementToDelete = $('#' + dayOfWeek + '_2_' + startTime.getHours());
            elementToDelete.remove();

            var i = 2;
            var count = startTime.getHours();
            while (i < rowspan) {
                count++;
                var elementToDelete = $('#' + dayOfWeek + '_' + count);
                elementToDelete.remove();

                if (i + 2 < rowspan) {
                    var elementToDelete = $('#' + dayOfWeek + '_2_' + count);
                    elementToDelete.remove();
                }

                i++;
            }
        }

        function PrintSchedule() {
            window.print();
        }
    $(document).ready(function () {
        var classSchedules = @Html.Raw(Json.Serialize(Model.classSchedules));
        var publicClassSchedules = @Html.Raw(Json.Serialize(Model.publicClassSchedules));

        classSchedules.forEach(function (classSchedule) {
            var className = classSchedule.class.course.name;
            var schedule = classSchedule.schedule;
            AddSchedule(schedule, className, 'table-info');

        });

        publicClassSchedules.forEach(function (publicClass) {
            var className = publicClass.studentPublicSchoolClass.courseName;
            var schedule = publicClass.schedule;
            AddSchedule(schedule, className, 'table-success');
        });
    });
    </script>
}
