@page
@model WebApplication1.Pages.Students.ChangeScheduleModel

@{
    ViewData["Title"] = "ChangeSchedule";
}

<h1>Change Schedule</h1>

<h4>@Model.Student.FirstName @Model.Student.LastName</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Term)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Class)
        {
            var count = 0;
            var enrolled = false;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term.Description)
                </td>
                @if (Model.StudentClass.Count > 0)
                {
                    var classCount = Model.StudentClass.Count;
                    var loopTracker = 0;
                    @foreach (var sc in Model.StudentClass)
                    {
                        @if (count > 0){
                            break;
                        }
                        @if(Model.Student.StudentID == sc.StudentID && item.ClassID == sc.ClassID)
                        {
                            enrolled = true;
                            count++;
                        }
                        /*
                        else if(loopTracker == (classCount-1))
                        {
                            <td>No</td>
                        }*/
                        loopTracker++;
                    }
                }
                else
                {
                    <td>No</td>
                }
            <td>
                <form method="post">
                    @if (!enrolled)
                    {
                        <input type="hidden" name="id" asp-for="Student.StudentID" />
                        <input type="hidden" name="classid" asp-for="@item.ClassID" />
                        <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="Add" />
                    }
                    else
                    {
                        <input type="submit" value="Add" class="btn btn-primary" asp-page-handler="Add" disabled />
                    }
                </form>
            </td>
            <td>
          
                <form method="post">
                    @if (enrolled)
                    {
                        <input type="hidden" name="id" asp-for="Student.StudentID" />
                        <input type="hidden" name="classid" asp-for="@item.ClassID" />
                        <input type="submit" value="Remove" class="btn btn-danger" asp-page-handler="Remove" />
                    }
                    else
                    {
                        <input type="submit" value="Remove" class="btn btn-danger" asp-page-handler="Remove" disabled/>
                    }
                </form>
            </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<table class="table table-bordered" style="table-layout: fixed; width: 100%;">
    <thead>
        <tr>
            <th style="width:9%;" scope="col">Time</th>
            <th style="width:18%;" scope="col">Monday</th>
            <th style="width:18%;" scope="col">Tuesday</th>
            <th style="width:18%;" scope="col">Wednesday</th>
            <th style="width:18%;" scope="col">Thursday</th>
            <th style="width:18%;" scope="col">Friday</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 6; i < 18; i++)
            {
                <tr>
                    <th rowspan="2" scope="row">@i:00</th>
                    <td id="1_@i"></td>
                    <td id="2_@i"></td>
                    <td id="3_@i"></td>
                    <td id="4_@i"></td>
                    <td id="5_@i"></td>

                </tr>
                <tr>
                    <td id="1_2_@i"></td>
                    <td id="2_2_@i"></td>
                    <td id="3_2_@i"></td>
                    <td id="4_2_@i"></td>
                    <td id="5_2_@i"></td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        var classSchedules = @Html.Raw(Json.Serialize(Model.classSchedules));
        var publicClassSchedules = @Html.Raw(Json.Serialize(Model.publicClassSchedules));

        classSchedules.forEach(function (classSchedule) {
            var className = classSchedule.class.course.name;
            var schedule = classSchedule.schedule;
            AddSchedule(schedule, className, 'table-info');

        });

        publicClassSchedules.forEach(function (publicClass) {
            var className = publicClass.studentPublicSchoolClass.courseName;
            var schedule = publicClass.schedule;
            AddSchedule(schedule, className, 'table-success');
        });

        function AddSchedule(schedule, className, tableColor) {
            var startTime = new Date(schedule.startTime);
            var endTime = new Date(schedule.endTime);
            var dayOfWeek = schedule.dayOfWeek;
            var rowspan = (endTime.getHours() - startTime.getHours()) * 2;

            if (endTime.getMinutes() > 0) {
                rowspan++;
            }

            var node = document.createElement("p");
            var className = document.createTextNode(className);

            node.appendChild(className);

            var element = $('#' + dayOfWeek + '_' + startTime.getHours());
            element.attr("rowspan", rowspan);
            element.addClass(tableColor);
            document.getElementById(dayOfWeek + '_' + startTime.getHours()).appendChild(node);

            var elementToDelete = $('#' + dayOfWeek + '_2_' + startTime.getHours());
            elementToDelete.remove();

            var i = 2;
            var count = startTime.getHours();
            while (i < rowspan) {
                count++;
                var elementToDelete = $('#' + dayOfWeek + '_' + count);
                elementToDelete.remove();

                if (i + 2 < rowspan) {
                    var elementToDelete = $('#' + dayOfWeek + '_2_' + count);
                    elementToDelete.remove();
                }

                i++;
            }
        }

    });
</script>
}
