@page
@model WebApplication1.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Village)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Village)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GPSLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GPSLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GPSLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GPSLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.PublicSchoolLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.PublicSchoolLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GuardianName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GuardianName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.GuardianType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.GuardianType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentStatus.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.StudentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
