@page
@model WebApplication1.Pages.Notes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.IdentityUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.NoteType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.NoteType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Note.NoteID">Edit</a> |
    <a asp-page="Index" asp-route-id="@Model.Note.StudentID">Back to List</a>
</div>
