@page
@model WebApplication1.Pages.Attendance.ClassListModel

@{
    ViewData["Title"] = "Class List";
}

<link rel="stylesheet" href="~/css/site.css" />

@if (Model.errorMessage)
{
    <script>
        alert("You've already uploaded attendance for this day");
        @Model.errorMessage = false;
    </script>
}

<body>
    <h1>Your Classes</h1>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class[0].Course)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class[0].Term)
                </th>
                <th>
                    Last Attendance Entered
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Class)
            {
                bool attendanceFound = false;
                WebApplication1.Models.Course course = Model.Course[0];

                @foreach(var c in Model.Course)
                {
                    @if(c.CourseID == item.CourseID)
                    {
                        course = c;
                    }
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Term.Description)
                    </td>
                    @foreach (var attendance in Model.LastEnteredAttendance)
                    {
                        @if (attendance.CourseName == course.Name)
                        {
                            @if (attendance.Date != null)
                            {
                                attendanceFound = true;
                                <td>@attendance.Date.ToString().Substring(0, 10)</td>
                            }

                        }
                    }

                    @if (!attendanceFound)
                    {
                        <td>No attendance data entered</td>
                        <td>
                            <input type="submit" class="btn btn-info" asp-page="./RunClassReport" asp-route-classId="@item.ClassID" value="Attendance Report" disabled />
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-info" asp-page="./RunClassReport" asp-route-classId="@item.ClassID">Attendance Report</a>
                        </td>
                    }
                    <td>
                        <a class="btn btn-success" asp-page="./ManualAttendanceEdit" asp-route-classId="@item.ClassID">Manual Attendance Entry</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>
    <br />
    <br />
    <div>
    <form method="post" enctype="multipart/form-data" class="frame">
        <div class="center">
            <div class="title">
                <h1 class="h1uploadbox" id="fileName">No File Selected</h1>
            </div>

            <div class="dropzone" id="fileInput">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                <input type="file" name="postedFile" class="upload-input" />
            </div>

            <input type="submit" value="Upload File" class="submitformbtn" name="uploadbutton" asp-page-handler="Import" />

        </div>
    </form>
    </div>
</body>
@section Scripts{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            document.getElementById('fileName').innerText = fileName;
        });
    </script>
}



