@page
@model WebApplication1.Pages.Grades.AssessmentListModel

@{
    ViewData["Title"] = "AssessmentList";
}

<h1>AssessmentList</h1>

<p>
    <a asp-page="../Assessments/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessment[0].PointsPossible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assessment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsPossible)
            </td>
            <td>
                <a asp-page="../Assessments/Edit" asp-route-id="@item.AssessmentId">Edit</a> |
                <a asp-page="../Assessments/Details" asp-route-id="@item.AssessmentId">Details</a> |
                <a asp-page="./GradesByAssessment" asp-route-AssessmentId="@item.AssessmentId">Grades</a>
            </td>
        </tr>
}
    </tbody>
</table>
